<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PWCOSTINGV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PWCOSTINGV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <PWCOSTINGV1.Properties.Settings>
      <setting name="blnIsTrusted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="strUserID" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="strDBName" serializeAs="String">
        <value>PWCOSTINGDB</value>
      </setting>
      <setting name="strUpdateSource" serializeAs="String">
        <value />
      </setting>
      <setting name="cnString" serializeAs="String">
        <value>Data Source=10.0.0.126\MSSQL2008R2;Initial Catalog=PWCOSTINGDB;Integrated Security=True;</value>
      </setting>
      <setting name="strServerName" serializeAs="String">
        <value>10.0.0.126\MSSQL2008R2</value>
      </setting>
      <setting name="strPassword" serializeAs="String">
        <value>123BPs0lutions</value>
      </setting>
      <setting name="intToLoginYear" serializeAs="String">
        <value>2018</value>
      </setting>
      <setting name="strToLoginUser" serializeAs="String">
        <value>administrator</value>
      </setting>
    </PWCOSTINGV1.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <PWCOSTINGV1.Properties.Settings>
      <setting name="frmListWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="frmListHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="intUsernameLenght" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="intPasswordLength" serializeAs="String">
        <value>6</value>
      </setting>
    </PWCOSTINGV1.Properties.Settings>
  </applicationSettings>
</configuration>
